* {
 box-sizing: border-box;
}


.primary-navigation {
    height: 80px;
    width: 100%;
    background-color: rgb(160, 247, 244);
    padding: 0px;
    margin: 0px;
}

.primary-navigation h1 {
    display:inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 50px;
}

.navigation-tabs {
   list-style: none;
   float: right;
   margin: 25px 25px 10px 25px;
   
}

.navigation-tabs li {
    display: inline-block;
    margin-left: 25px;
    border: solid rgb(44, 159, 138) 3px;
    padding: 10px;
    border-radius: 25%;
}

.navigation-tabs li:hover {
    background:rgb(166, 200, 230);
}

.navigation-tabs li:visited {
    background-color: rgb(44, 159, 138);
} 

.hero {
    height: 400px;
    width: 100%;
    background-image: url(./hero.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
}

.subtitle h2{
    text-align: center;
    position: relative;
    top: 320px;
    width: 300px;
    font-size: 35px;
    border: transparent;
    float: right;
    background-color: rgba(255, 255, 255, .4);
    margin-top: 0px
}

.about-me-container {
    position: relative;
    margin: 10px;
    float: left;
    width: 80%
}
.aside-container {
    float: right;
    position: relative;
    top: 10px;
    text-align: left;
    font-size: 20px;
    width: 15%;
    text-decoration: underline;
}

#projects {
    position: relative;
    top: 100px;
}

#contact {
    position: relative;
   top: 300px;
}