* {
 box-sizing: border-box;
 background-color: black;
 font-family: trebuchet ms, sans-serif;
}


.primary-navigation {
    height: 80px;
    width: 100%;
    background-color: black;
    padding: 0px;
    margin: 0px;
    color: white;
}

.primary-navigation h1 {
    display:inline-block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 50px;
}

.navigation-tabs {
   list-style: none;
   float: right;
   margin: 25px 25px 10px 25px;
   color: white;
}

.navigation-tabs li {
    display: inline-block;
    margin-left: 25px;
    border: solid rgb(91,183,232) 3px;
    padding: 10px;
    border-radius: 25%;
    color: white;
}

.navigation-tabs li:hover {
    background:rgb(91,183,232);
}

.hero {
    height: 400px;
    width: 100%;
    background-image: url(./hero.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
    color: white;
}

.subtitle h2{
    text-align: center;
    position: relative;
    top: 320px;
    width: 300px;
    font-size: 45px;
    border: transparent;
    float: right;
    background-color: rgba(22, 20, 20, .4);
    margin-top: 0px
}

.about-me-container {
    position: relative;
    margin: 10px;
    float: left;
    width: 80%;
    color: white;
}
.aside-container {
    float: right;
    position: relative;
    top: 10px;
    text-align: left;
    font-size: 30px;
    width: 15%;
    text-decoration: underline;
    color: white;
}

#projects {
    position: relative;
    top: 100px;
}

.projects-container {
    position: relative;
    float: left;
    width: 80%;
    margin: 20px;

    /*display: flex;*/
    
}

.projects-container p {
    position:absolute;
    color:yellow;
    border: solid yellow 5px;
    padding: 10px;
    margin: 20px;
}

#first-project-link {
    position: relative;

}

#first-project-link p {
    position: absolute;
    top: 65%;
}
#main-project {
    border: solid rgba(255, 255, 255, .3) 2px;
    position: relative;
}

.project-link {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    border: solid rgba(255, 255, 255, .3) 2px;
    
}

.project-link p {
    position: absolute;
    top: 70%;
}
#contact {
    position: relative;
    top: 800px;
}

.contact-information {
    color: white;
    position: relative;
    float: left;
}