
main {
    height: 100vh;
    width: 100%;
}

.background-image {
    background-image: url('./images/backgroundstars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
  }

 
  .button-container {
    position: relative; 
}

.hidden-btn {
    display: none; 
    position: absolute;
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%); 
}

.text-left:hover .hidden-btn {
    display: block; 
}